
.container{
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    padding: 10px 25px;
    text-align: center;
    background-color: darkgreen;
}
#kq{
    border: 2px solid blue;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    padding: 0 8px;
    background-color: purple;
    color: chartreuse;
    margin-top: 10px;
}
h3{
    color: red;
    font-size: x-large;
}
p{
    color: aqua;
}
#soLanGiai{
    color: yellow;
    font-size: x-large;
}
b{
    color: rgb(247, 153, 14);
}
form{
    background-color: darkolivegreen;
}
button:hover{
    color: blue;
    background-color: yellow;
}
button{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 10%;
    height: 30px;
    margin-right: 30px;
    background-color: darkkhaki;
    color: darkred;
}
#btnhienpt{
    color: rgb(247, 178, 4);
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}