.container{
    text-align: center;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgb(15, 99, 99);
    width: 80%;
    margin: auto;
}
.icon img {
    position: absolute;
    width: 70px;
    left: 400px;
    bottom: 400px;
    cursor: pointer;
}
.next-icon img {
    position: absolute;
    width: 70px;
    right: 400px;
    bottom: 400px;
    cursor: pointer;
}
h1{
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}
#show{
    height: 350px;
    width: 550px;
}
#dem{
    font-size: larger;
    color: yellow;
    margin-top: 20px;
}